body {
    background-color: #DDDDDD;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  ul {
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    padding: 0;
    overflow: hidden;
    border: 2px solid #555555;
    background: #AAAAAA;
    align-items: center;
  }
  
  li {
    float: left;
  }
  .pileList{
    float: left;
    width: 30%;
  }
  .handList{
    width: 70%;
    float: right;
  }
  .discardList{
    width: 100%;
  }
  .pile {
    float: left;
    width: 80px;
    margin: 5px;
    align-items:center;
  }
  .hand {
    width: 100%;
  }
  .pileHolder li {
    margin-right: -10%;
    float: left;
  }
  .discard {
    width: 20%;
  }

  .card {
    border: 2px solid #333333;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    width: 60px;
    height: 60px;
    /*padding: 1px, 1px, 1px, 1px;*/
    text-align: center;
    transition: box-shadow 2s;

  }

  .card img {
    height: 90%;
    width: 100%;
  }

  .active-player {
    border: 5px solid goldenrod;
  }

  button.selectedPlayer {
    background-color: #555555;
  }
  button.unselectedPlayer {
    background-color: #AAAAAA;
  }

  .Wild {
    background: #DD3300;
    margin: 5px;
  }

  .Mirror {
    background: #CCAA00;
    margin: 5px;
  }

  .Cat {
    background: #229955;
    margin: 5px;
  }

  .Ladder {
    background: #1188FF;
    margin: 5px;
  }

  .hiddenCard {
    background: #007700;
    margin: 5px;
  }

  .card:hover {
    box-shadow: 7px 7px 5px grey;
    border: 2px solid #000000;
    transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
  }
  .isSelected {
    border: 5px solid maroon;
  }
  .card {
    box-shadow: 2px 2px 1px grey;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }

  