body {
    background-color: #DDDDDD;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .playerselect button.selectedPlayer {
    background-color: #555555;
  }

  .playerselect button.unselectedPlayer {
    background-color: #AAAAAA;
  }

  .gameInfo {
    font: 32px;
    font-weight: bold;
    float: left;
    margin-right: 100px;
  }

  ul {
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    padding: 0;
    overflow: hidden;
    border: 2px solid #555555;
    background: #AAAAAA;
    align-items: center;

  }
  
  li {
    float: left;
  }
  li.pile{
    width: 30%;
    margin: auto;
    height: 200px;
    overflow: hidden;
  }
  .handList{
    width: 100%;
    float: right;
  }
  div.pileHolder li {
    width: 100%;
    overflow: hidden;
    float: left;
    margin: auto;
  }
  .discardList li{
    width: 100%;
    float: none;
  }
  .discard li{
    width: auto;
    float: right;
  }
  li.pile li {
    float: left;
    width: auto;
    margin: auto;

  }
  .pile .card {
    height: 75px;
    width: 75px;

  }

  .hand {
    width: 100%;
  }
  
  .discard li {
    float: left;  
  }

  .cardHolder button {
    border: 2px solid #333333;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;

    /*
    width: 50px;
    height: 50px;
    */
    /*padding: 1px, 1px, 1px, 1px;*/
    text-align: center;
    transition: box-shadow 2s;

  }

  .card img {
    height: 100%;
    width: 100%;

  }

  .active-player {
    border: 5px solid goldenrod;
  }

  .discard .cardholder button{
    height: 50px;
    width: 50px;
  }

  .cardHolder button {
    height: 75px;
    width: 75px;

  }

  .cardHolder button.hiddenCard {
    height: 50px;
    width: 50px;
  }

  .Wild {
    background: #DD3300;
    margin: 5px;

  }

  .Mirror {
    background: #CCAA00;
    margin: 5px;

  }

  .Cat {
    background: #229955;
    margin: 5px;

  }

  .Ladder {
    background: #1188FF;
    margin: 5px;

  }

  .hiddenCard {
    background: #007700;
    margin: 5px;

  }

  .card:hover {
    box-shadow: 7px 7px 5px grey;
    border: 2px solid #000000;
    transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
  }
  .isSelected {
    border: 5px solid maroon;
  }
  .card {
    box-shadow: 2px 2px 1px grey;
  }
   
  .game {
    display: flex;
    flex-direction: row;
  }

  